{% extends 'base.html' %}

    {% block contenido %}
    <div class="container et-5">
        <div class="row">
            <div class="col-sm-12">
                <table class="tabla">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ver</th>
                        </tr>
                    </thead>
                    <body>
                        {%for persona in lista_personas %}
                        <tr>
                            <th scope="row">{{persona.id}}</th>
                            <td>{{persona.nombre}}</td>
                            <td>{{persona.telefono}}</td>
                            <td>{{persona.email}}</td>
                            <td>(<a href="persona/{{persona.id}}" >ver)</a></td>
                        </tr>
                        {% endfor %}
                    </body>
                </table>

            </div>

        </div>
        {% endblock contenido %}